<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\RESTapi.Common\packages.config" />
  <repository path="..\src\RESTapi.Data.SqlServer\packages.config" />
  <repository path="..\src\RESTapi.Web.Api\packages.config" />
  <repository path="..\src\RESTapi.Web.Common\packages.config" />
</repositories>